<div class="flex py-8 justify-center">
    <p>
        <a href="/api/cats" class="underline text-white">API Catster List</a>
        |
        <a href="/api/persons" class="underline text-white">API Person List</a>
        |
        <a href="https://github.com/reekamaharaj/catster" class="underline text-white">GitHub Repo</a>
    </p>
</div>