<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/assets/css/output.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Catster</title>
</head>
<body class="bg-black">
    <div class="p-8 bg-black text-center">
        <img src="/assets/images/banner.png" class="m-auto">
    </div>
    <div style="background-color: #FF914C;">        
        <div class="w- full py-4">
                {{{body}}}
        </div>
    </div>
    
    <footer class="w-full text-center">
        {{> footer}}
    </footer>
</body>
</html>

