<div style="background-color: #FF914C;">
    <div class="text-center text-3xl p-8">
        <h2>Answer questions to find your perfect cat.</h2>
    </div>
    <div class="text-center py-4">
        <a href="/survey">
            <button class="bg-black py-4 px-8 rounded text-white hover:border-gray-lighter hover:bg-gray-800">Start Survey</button>
        </a>
    </div>
</div>