<div style="background-color: #FF914C;">
    <div class="text-center text-3xl p-8" id="results">
        <h1>Your purrfect Match: {{name}}</h1>
        <img class="m-auto rounded" src={{photo}} alt="Cat image">
    </div>
</div>

<script type="text/javascript" src="/assets/javascript/survey.js"></script>
<script>
$(".document").ready(function () {
    console.log("on load");
    popResults();
});

function popResults(){
    console.log("popResults started")
    $.ajax({ url: "/api/match"}).then(function(catData){
        console.log("ajax ran");
    });
}
</script>

